{{!-- <h2>Login</h2>
<form action="/login" method="POST">
  <label>
    Username
    <input type="text" name="username" required>
  </label>
  <label>
    Password
    <input type="password" name="password" required>
  </label>
  <button type="submit">Log In</button>
</form>

{{#if errorMessage}}
  <div class="error">{{errorMessage}}</div>
{{/if}}

<p>
  Don't have an account? Sign up <a href="/signup">here</a>
</p> --}}



</form>
<form action="/login" method="POST">
<div id="index-container">
  <div id="signup-form">
<div class="input-group flex-nowrap">
  <div class="input-group-prepend">
    <span class="input-group-text" id="addon-wrapping">Username</span>
  </div>
  <input name= "username" type="text" class="form-control" aria-label="Username" aria-describedby="addon-wrapping" required>
</div>

<div class="input-group flex-nowrap">
  <div class="input-group-prepend">
    <span class="input-group-text" id="addon-wrapping">Password</span>
  </div>
  <input name= "password" type="password" class="form-control" aria-label="email" aria-describedby="addon-wrapping" required>
</div>


</div>
</div>
<div id="index-container">
<button type="submit" class="btn btn-dark">Login</button>
<p>
  Don't have an account? Sign up <a href="/signup">here</a>
</p>
</div>


{{#if errorMessage}}
  <div class="error">{{errorMessage}}</div>
{{/if}}



</form>