
{{!-- <div id="login-form">
</form>
<form action="/login" method="POST">
<div id="index-container">
  <div id="signup-form">
<div class="input-group flex-nowrap">
  <div class="input-group-prepend">
    <span class="input-group-text" id="addon-wrapping">Username</span>
  </div>
  <input name= "username" type="text" class="form-control" aria-label="Username" aria-describedby="addon-wrapping" required>
</div>

<div class="input-group flex-nowrap">
  <div class="input-group-prepend">
    <span class="input-group-text" id="addon-wrapping">Password</span>
  </div>
  <input name= "password" type="password" class="form-control" aria-label="email" aria-describedby="addon-wrapping" required>
</div>


</div>
</div>
<div id="index-container">
<button type="submit" class="btn btn-dark">Login</button>
<p>
  Don't have an account? Sign up <a href="/signup">here</a>
</p>
</div>


{{#if errorMessage}}
  <div class="error">{{errorMessage}}</div>
{{/if}} 



</form>
</div>--}}

<div id="logo">
<h1>Finna</h1>
</div>

<div id="index-container" style="margin-top: 100px;">
<form action="/login" method="POST">
<div class="form-group">
    <label for="exampleInputEmail1">Username</label>
    <input  name="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter username" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">I'm not a robot</label>
  </div>
  <button type="submit" class="btn btn-dark">Login</button>
  <p>Don't have an account? Sign up <a href="/signup">here</a></a></p> 
 {{#if errorMessage}}
    <div class="error">{{ errorMessage}} </div>
  {{/if}}
</form>
</div>