
<div id="Homepage-div">
<h2>Unleash the music</h2>
<p>Can't find the music stuck in your head?</p>
<a href="/signup" class="btn btn-warning">Sign up for free</a>
<a href="/login" class="btn btn-dark">Login</a>
</div>


<div id="Homepage-div1">
<h2>More than 25 million songs</h2>
<p>We're sure you can find <strong>that</strong> music!</p>
</div>




{{!-- {{#if user}}
  Welcome {{user.username}}
  <form action="/logout" method="POST">
    <button type="submit">Logout</button>
  </form>
  <a href="/private">Private</a>
  
{{else}}
<br>
<div id="index-container">
  <div id="signup-form">
<div class="input-group flex-nowrap">
  <div class="input-group-prepend">
    <form action="/signup" method="POST">
    <span class="input-group-text" id="addon-wrapping">Username</span>
  </div>
  <input name= "username" type="text" class="form-control" placeholder="choose your username" aria-label="Username" aria-describedby="addon-wrapping" required>
</div>

<div class="input-group flex-nowrap">
  <div class="input-group-prepend">
    <span class="input-group-text" id="addon-wrapping">Email</span>
  </div>
  <input name= "email" type="email" class="form-control" placeholder=" add your email" aria-label="email" aria-describedby="addon-wrapping" required>
</div>

<div class="input-group flex-nowrap">
   <div class="input-group-prepend">
    <span class="input-group-text" id="addon-wrapping">Password</span>
  </div>
  <input name= "password" type="password" class="form-control" placeholder="choose your password" aria-label="password" aria-describedby="addon-wrapping" required>
</div>
</div>
</div>

  <div id="index-container">
  <button type="submit" class="btn btn-dark">Create account</button>
  </form>
  <p>Already have an account? <a href="/login">Login</a></p> 
  </div>
  {{#if errorMessage}}
    <div class="error">{{ errorMessage}} </div>
  {{/if}}

{{/if}} --}}