<div id="homepage">
    <div id="search-homepage">
<form method="GET", action="/lyrics">
<input id="search-bar" type="text" name="lyric">
<div>
<button>Search for an artist</button>
</div>
</form>
</div>
</div>

<a href="/auth">Auth</a>
<a href="/profile">Profile</a>