<a href="/signup">Signup</a>



{{#if user}}
  Welcome {{user.username}}
  <form action="/logout" method="POST">
    <button type="submit">Logout</button>
  </form>
  <a href="/private">Private</a>
{{else}}
  <a href="/login">Login</a>
{{/if}}