<div id="logo">
<h1>Finna</h1>
</div>

<div id="container">
</div>
</form>

<form action="/profile" method="POST">
<div id="index-container">
  <div id="signup-form">
<div class="input-group flex-nowrap">
  <div class="input-group-prepend">
    <span class="input-group-text" id="addon-wrapping">Username</span>
  </div>
  <input name= "username" type="text" class="form-control" placeholder="{{thisUser.username}}" aria-label="Username" aria-describedby="addon-wrapping" required>
</div>

<div class="input-group flex-nowrap">
  <div class="input-group-prepend">
    <span class="input-group-text" id="addon-wrapping">Email</span>
  </div>
  <input name= "email" type="email" class="form-control" placeholder="{{thisUser.email}}" aria-label="email" aria-describedby="addon-wrapping" required>
</div>
</div>
</div>
<div id="index-container">
<button type="submit" class="btn btn-dark">Update</button>
</div>
</form>