@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');


body {
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; 
  background-color: rgb(255, 252,242) !important;

}
  

a {
  color: #00B7FF; }


/* Login view */ 
#login-form {
  margin-top: 200px;
  background-color: black;
  height: 300px;
  width: 400px;
}


/* index view */

.collapse li {
  margin-left: 20px;
  margin-right: 20px;
}

.collapse li {
  margin-left: 20px;
  margin-right: 20px;
}

#nav-bar-logo {
  /* finna */
  position: absolute;
  height: 76px;
  width: 100px;
  margin:0 auto;
  font-family: 'Syne Mono', monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 43px;
  text-align: center;
  color: white;
  margin-left: 45%;
  margin-right: 50%;
  margin-top:20px;

}

#logo {
font-family: 'Syne Mono', monospace;
font-style: normal;
font-weight: normal;
text-align: center;
font-size: 100em;
text-align: center;
color:black;
padding-top: 100px;
padding-bottom: 80px;
}


#Homepage-div {
  background-image: url(../images/music-happy_big.jpg);
  background-size: 200vh;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border: 4px solid black;
  
}

#Homepage-div h2 {
  font-size: 9vw;
}

#Homepage-div a {
  width: 220px;
  height: 50px;
  font-size: 1.4em;
  border-radius: 25px;
  text-align: center;
  vertical-align: middle;
  padding: 1;
  margin-top: 30px;
}

#Homepage-div p {
  font-size: 4vw;
}

#container-nav {
  width: 100vw;
}

#Homepage-div1 {
  background-color: orange;
  width: 100vw;
  height: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Homepage-div1 h2 {
  font-size: 5vw;
}

#Homepage-div1 p {
  font-size: 3vw;
}


#index-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

#index-container button {
  margin-top: 20px;
}

#index-container p {
  position: absolute;
  margin-top: 70px;
}


#signup-form {
  width: 500px;
}



/* search lyrics view */

#search-homepage {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 100px;

}

#search-homepage button {
  width: 18vw;
  margin:0 auto;
  display:block;
  border-radius: 20px;

}

#search-bar {
  background-color: black;
  outline: none;
  box-shadow: 5px 5px #888888;
  color: white;
  text-align: center;
  width: 80vw;
  height: 50px;
  border-radius: 20px;
  margin-bottom: 40px;
}

#navbar {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  height: 40px;
  width: 100%;
  margin-bottom: 300px;
}

#navbar h2 {
  margin-right: 30px;
}

#navbar a {
  margin-right: 10px;
  margin-left: 10px;
  height: 40px;
}

#navbar button {
  height: 40px;
}


/* songs search view*/

#search-result-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}


#search-result-container h6 {
  height: 100px;

}
#search-result-container img {
  height: 286px;
}

#search-result-container a {
  display: flex;
  justify-content: center;
  align-items: center;
}

#historic-container img {
  height: 140px;
}

#historic-container {
  justify-content: center;
}

#historic-div {
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.9);
  height: fit-content;
  padding: 20px;
  text-align: center;
}

#historic-div h5 {
  color: white;
  padding: 5px;
}

#card-historic {
  margin: 10px;
  border: 10px solid rgba(0, 0, 0, 0.9);
  border-radius: 20px;
}

/*lyrics result*/
#results-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}



.page-footer img {
  width: 30px;
  box-shadow: 2px 2px 5px rgb(23, 29, 32);
  border-radius: 20px;

}

.page-footer {
  background-color:rgba(0, 0, 0, 0.9);
  left: 0;
  bottom: 0;
  width: 100%;
  position: fixed;
}

.footer-copyright {
  color: lightgrey;
  text-decoration: none;
  background-color: black;
}

.footer-copyright a {
  text-decoration: none;
  color: white;
}

#footer-container {
  margin-bottom: 120px;
}

/*# sourceMappingURL=style.css.map */